/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { font-size: 12px; font-family: Arial, sans-serif; line-height: 1.4; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

body { font-family: "Roboto", sans-serif; font-size: 14px; font-weight: 500; background: url("../img/pic-bac.png"); }

.h3, .h5, .h4 { text-transform: uppercase; }

.h3 { font-size: 18px; font-weight: normal; font-weight: 500; }

.h4 { font-size: 14px; font-weight: normal; font-weight: 500; }

.h5 { font-size: 12px; }

.header { padding-top: 50px; height: 120px; width: 100%; background: white; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.heder__row { margin: 0 auto; width: 70%; min-width: 564px; }

.logo__left { float: left; color: #149ec6; font-size: 26px; text-decoration: none; font-weight: 400; }
.logo__left span { font-weight: 100; }

.logo__right { float: right; position: relative; width: 175px; height: 35px; }
.logo__right i { position: absolute; top: 0; left: 0; background: url('../img/icons-sc9aa00ebc3.png') 0 -1128px no-repeat; width: 175px; height: 35px; }

.container { margin: 0 auto; padding: 50px 0 60px 0; width: 70%; min-width: 564px; height: 100%; }

.payment-info { color: #3b3b3b; }
.payment-info .h3 { margin-bottom: 25px; }

.payment-info__bot .h3 { margin-bottom: 15px !important; }
.payment-info__bot .payment-info__field { margin-top: 10px; }

.payment-info__left { float: left; width: 460px; }
.payment-info__left span { font-size: 18px; font-weight: 400; }

.payment-info__field { height: 36px; vertical-align: top; line-height: 1; }

.payment-info__row { width: 120px; margin-right: 20px; text-transform: uppercase; text-align: right; display: inline-block; }

.payment-info__row_mod { width: 135px; }

.text_blue { color: #149ec6; }

.payment-info__right { float: right; width: 242px; text-align: left; line-height: 1.6; text-transform: uppercase; letter-spacing: 0; }
.payment-info__right .text_blue { font-weight: 300; font-size: 20px; text-transform: lowercase; }

.payment__field { position: relative; float: left; padding: 30px 0 0 50px; margin: 30px 0; height: 295px; width: 100%; color: #343434; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.payment__field:before { position: absolute; content: ""; top: 0; left: 0; z-index: -1; background: url('../img/icons-sc9aa00ebc3.png') 0 -312px no-repeat; width: 403px; height: 303px; }
.payment__field:after { position: absolute; content: ""; top: 22px; left: 207px; z-index: -2; background: url('../img/icons-sc9aa00ebc3.png') 0 0 no-repeat; width: 402px; height: 302px; }

.option-paying { float: right; margin-top: -8px; width: 72px; }

.option__item { position: relative; margin-bottom: 15px; width: 72px; height: 42px; cursor: pointer; display: block; }
.option__item i { position: absolute; content: ""; top: 0; left: 0; }
.option__item .visa { background: url('../img/icons-sc9aa00ebc3.png') 0 -1257px no-repeat; width: 72px; height: 42px; }
.option__item .mc { background: url('../img/icons-sc9aa00ebc3.png') 0 -920px no-repeat; width: 72px; height: 42px; }
.option__item .vbv { background: url('../img/icons-sc9aa00ebc3.png') 0 -1076px no-repeat; width: 72px; height: 42px; }
.option__item .mcsc { background: url('../img/icons-sc9aa00ebc3.png') 0 -1024px no-repeat; width: 72px; height: 42px; }
.option__item .pci { background: url('../img/icons-sc9aa00ebc3.png') 0 -972px no-repeat; width: 72px; height: 42px; }

.payment__input { position: relative; float: left; width: 500px; z-index: 2; }
.payment__input .cards__item { position: absolute; content: ""; top: 50%; margin-top: -17px; display: none; }
.payment__input .cards__item.act { display: block !important; }
.payment__input .mastercard { left: 245px; background: url('../img/icons-sc9aa00ebc3.png') 0 -1173px no-repeat; width: 56px; height: 34px; }
.payment__input .visa { left: 203px; background: url('../img/icons-sc9aa00ebc3.png') 0 -1217px no-repeat; width: 97px; height: 30px; }
.payment__input .off { display: none; }

.input__field { position: relative; margin: 10px 0; width: 300px; height: 32px; display: inline-block; }
.input__field .error__inp { position: absolute; left: -27px; bottom: -31px; padding-left: 10px; width: 355px; height: 35px; color: white; line-height: 33px; z-index: 2; border: solid 1px white; background: #ff4444; transition: all 0.3s linear 0s; display: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.input__code .error__code_cvv2 { position: absolute; left: -1px; bottom: -31px; padding: 0 10px; height: 35px; width: 107px; color: white; line-height: 33px; z-index: 2; border: solid 1px white; transition: all 0.3s linear 0s; background: #ff4444; display: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.input { padding: 0 8px; width: 100%; height: 34px; font-weight: 400; border: 1px solid #cccfd5; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.input__up { text-transform: uppercase; }

.error { border: solid 1px #ff4444; background: #ffdfdf; transition: all 0.3s linear 0s; }

.payment__select { height: 72px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.payment__select .input__field { float: left; margin-right: 8px; width: 51px; }

.select { position: relative; cursor: pointer; vertical-align: top; display: inline-block; }

.select__text { position: relative; padding: 0 8px; width: 51px; height: 34px; line-height: 32px; font-weight: 400; font-size: 16px; border: 1px solid #cacdd4; display: block; background: white; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.select__text:before { position: absolute; content: ""; top: 9px; right: 10px; width: 0px; height: 0px; border-style: solid; border-width: 0 3.5px 4px 3.5px; border-color: transparent transparent #4e4e4e transparent; }
.select__text:after { position: absolute; content: ""; bottom: 9px; right: 10px; width: 0px; height: 0px; border-style: solid; border-width: 4px 3.5px 0 3.5px; border-color: #4e4e4e transparent transparent transparent; }

.select__list { position: absolute; top: -20px; left: 0; right: 0; padding: 10px 0; max-height: 262px; font-size: 1; font-weight: 400; font-size: 16px; overflow: auto; border: 1px solid #babcbf; z-index: 100; background: white; display: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.select__list li { padding: 0 16px; height: 20px; line-height: 20px; }
.select__list li:hover { transition: all 0.1s linear 0.1s; background: #d8eaf2; }

.payment__left { float: left; }

.payment__right { position: relative; float: right; width: 105px; text-align: right; display: inline-block; }
.payment__right .input { margin-top: 10px; }
.payment__right .payment__icon_info { position: absolute; content: ""; bottom: 6px; right: -32px; background: url('../img/icons-sc9aa00ebc3.png') 0 -1381px no-repeat; width: 21px; height: 21px; }
.payment__right:after { position: absolute; content: ""; bottom: 5px; right: 7px; background: url('../img/icons-sc9aa00ebc3.png') 0 -1480px no-repeat; width: 36px; height: 23px; }

.input__field_text { font-size: 10px; }

.input__select { position: relative; cursor: pointer; }
.input__select .select { width: 100%; }
.input__select .select__text { width: 100%; }

.payment-info__row_pad { vertical-align: inherit; padding-top: 20px; }

.text__info { position: relative; margin: 30px 0; padding-left: 30px; color: #5b5b5b; font-size: 10px; text-transform: uppercase; }
.text__info:before { position: absolute; content: ""; top: -2px; left: 0; background: url('../img/icons-sc9aa00ebc3.png') 0 -1412px no-repeat; width: 20px; height: 25px; }

.clock { position: relative; }
.clock:before { position: absolute; content: ""; left: 22px; top: 0; display: none; background: url('../img/icons-sc9aa00ebc3.png') 0 -1339px no-repeat; width: 32px; height: 32px; }

.btn { width: 180px; height: 56px; color: white; line-height: 56px; font-size: 20px; text-align: center; text-decoration: none; text-transform: uppercase; display: inline-block; background: #29ae6b; -webkit-box-shadow: inset 0 -3px 0 #238955; -moz-box-shadow: inset 0 -3px 0 #238955; box-shadow: inset 0 -3px 0 #238955; background-image: -webkit-gradient(linear, to bottom left, to top right, color-stop(0%, #29ae6b), color-stop(100%, #4dc687)); background-image: -webkit-linear-gradient(to bottom left, #29ae6b, #4dc687); background-image: -moz-linear-gradient(to bottom left, #29ae6b, #4dc687); background-image: -o-linear-gradient(to bottom left, #29ae6b, #4dc687); background-image: linear-gradient(to bottom left, #29ae6b, #4dc687); transition: all 0.3s linear 0s; }
.btn:hover { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; background: #29ae6b; transition: all 0.3s linear 0s; }

.footer { float: left; margin-top: 63px; height: 35px; width: 100%; line-height: 35px; text-align: center; font-size: 10px; color: #514a4a; background: white; }
.footer a { color: #514a4a; text-decoration: none; }
.footer a:hover { text-decoration: underline; }

@media(max-width: 995px) { .option-paying { display: none; }
  .h4 { display: none; }
  .clock:before { display: block; }
  .payment-info__left_top { width: 300px; }
  .payment-info__right .text_blue { text-align: right; } }

@media only screen and (max-width: 746px) { body { font-size: 16px; }
  .header { padding-top: 45px; height: 106px; }
  .heder__row { margin: 0 auto; width: 90%; min-width: 560px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
  .container { margin: 0 auto; padding-top: 35px; width: 90%; min-width: 560px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
  .h3 { margin-left: 100px; font-size: 26px; }
  .payment__field { margin-top: 25px; height: 285px; }
  .payment__field:after { left: 160px; }
  .payment__input { width: 470px; }
  .text__info { margin: 30px auto 25px; font-size: 12px; }
  .payment-info__left { width: 100%; }
  .payment-info__left_top { width: 300px; }
  .payment-info__row_mod { width: 180px !important; }
  .payment-info__row { width: 134px; }
  .btn { margin: 0 auto; display: block; }
  .footer { margin-top: 22px; }
  .error__inp { font-size: 14px; } }
.body { width: 400px; height: 468px; padding: 26px 21px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.body .payment__input_mod { padding: 37px 0 0 24px; width: 268px; }
.body .payment__input_mod:before { top: 12px; left: 268px; margin: 0; }
.body .btn { margin: 0 auto; display: block; }
.body .text__info { margin: 25px 0 16px 0; font-size: 10px !important; width: 268px; }

.payment__card { position: relative; width: 358px; height: 284px; color: #343434; }
.payment__card:before { position: absolute; content: ""; top: 0; left: 0; z-index: -1; background: url('../img/icons-sc9aa00ebc3.png') 0 -625px no-repeat; width: 359px; height: 285px; }
